body {
  border: 0;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  position: relative;
}

.logo {
  color: white;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#abajo {
  background-color: rgb(224, 224, 224);
}